@model DB_QLGD1.NGUOIDUNG
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Team</title>
    <link href="~/Assets/plugin/css/all.css" rel="stylesheet" />
    <link href="~/Assets/css/createTeam.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="container">
            <div class="pop-up-infor">
                <i class="far fa-check-circle" style="color: #82c91e;margin-right: 10px; font-size: 22px;"></i> <span>Bạn đã thêm đội bóng thành công</span>
            </div>


            <div class="home-menu">
                <div class="home-menu-logo">
                    <img src="~/Assets/img/pngwing 1.png" />
                    <h1>My Champion</h1>
                </div>
                <ul class="home-menu-btn">
                    <li><a href="@Url.Action("IndexUser","Home",new {id = Session["user"] })">Trang chủ</a></li>
                    <li><a href="@Url.Action("Tournaments","Home")">Giải đấu</a></li>
                    <li><a href="#">Đội thi đấu</a></li>
                    <li><a href="#">Lịch thi đấu</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                </ul>
                <div class="home-menu-register">
                    <div class="infors"><i class="far fa-bell"></i></div>
                    <div class="mail"><i class="far fa-envelope"></i></div>
                    <div class="avatar-name">
                        <div class="avatar">
                            <img src="@Url.Content(Model.ANHDAIDIEN)" />
                        </div>
                        <p>@Model.TENND</p>
                    </div>
                    <div class="pop-up-menu">
                        <i class="fas fa-caret-down"></i>

                        <div class="pop-up-submenu">
                            <ul>
                                <li> <a href="@Url.Action("Logout","Register",null)" style="text-decoration:none; color:#000; display:block"><i class="fas fa-user"></i> <span>Hồ sơ cá nhân</span></a> </li>
                                <li> <a href="@Url.Action("ManageTeam","Team",null)" style="text-decoration:none; color:#000; display:block"><i class="fas fa-users"></i> <span>Quản lí đội bóng</span></a> </li>
                                <li> <a href="@Url.Action("ManageTournament","Tournament",null)" style="text-decoration:none; color:#000; display:block"><i class="fas fa-futbol"></i><span>Quản lí giải đấu</span></a> </li>
                                <li> <a href="@Url.Action("Logout","Register",null)" style="text-decoration:none; color:#000; display:block"><i class="fas fa-sign-out-alt"></i> <span>Đăng xuất</span></a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-create">
                <div class="form-create-bg">
                    <input type="file" name="background" id="background" accept="image/png, image/jpeg" style="display:none">
                    <button id="changeBg-btn"><i class="fas fa-camera" style="margin-right: 5px;"></i> Đổi ảnh nền</button>
                </div>
                <div class="form-create-detail">
                    <h3 class="form-create-detail-title">TẠO ĐỘI</h3>
                    <div class="form-create-fields">
                        <div class="form-create-imgs">
                            <h1 style="font-size: 24px; margin-bottom:10px;">Ảnh đại diện</h1>
                            <div class="form-create-img">
                                <div id="img-preview1" class="img-preview"></div>
                                <input type="file" id="choose-file1" name="choose-file1" accept="image/*" />
                                <label for="choose-file1"><i class="fas fa-camera" style="font-size:30px"></i></label>
                            </div>
                            <br>

                            <h1 style="font-size: 24px; margin-bottom:10px;">Đồng phục 1</h1>
                            <div class="form-create-img">
                                <div id="img-preview2" class="img-preview"></div>
                                <input type="file" id="choose-file2" name="choose-file2" accept="image/*" />
                                <label for="choose-file2"><i class="fas fa-camera" style="font-size:30px"></i></label>
                            </div>
                            <br>

                            <h1 style="font-size: 24px; margin-bottom:10px;">Đồng phục 2</h1>
                            <div class="form-create-img">
                                <div id="img-preview3" class="img-preview"></div>
                                <input type="file" id="choose-file3" name="choose-file3" accept="image/*" />
                                <label for="choose-file3"><i class="fas fa-camera" style="font-size:30px"></i></label>
                            </div>
                        </div>


                        <div class="form-create-inputs">
                         
                                <label for="teamName">Tên đội bóng:</label> <br>
                                <input type="text" id="teamName"> <br>

                                <label for="phoneNumber">SĐT liên hệ:</label> <br>
                                <input type="text" id="phoneNumber"> <br>

                                <label for="email">Email liên hệ:</label> <br>
                                <input type="email" id="email"> <br>

                                <label for="age">Độ tuổi:</label> <br>
                                <input type="number" id="age"> <br>

                                <label for="area">Khu vực hoạt động:</label> <br>
                                <input type="text" id="area"> <br>

                                <label for="gender">Giới tính:</label> <br>
                                <select id="gender">
                                    <option> chọn giới tính</option>
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                                <br>

                                <label for="introduction">Giới thiệu:</label> <br>
                                <textarea id="introduction" cols="30" rows="10" style="resize: none"></textarea> <br>

                                <p class="inform" style="font-size:20px;color:red;text-align:center"></p>
                                <button id="submit-form" onclick="CreateTeam()">TẠO ĐỘI</button>
                          
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        var changeBg_btn = document.querySelector("#changeBg-btn");
        var background = document.querySelector("#background");
        changeBg_btn.onclick = function () {
            background.click();
        }

        var pop_upBtn = document.querySelector(".pop-up-menu");
        var pop_up = document.querySelector(".pop-up-submenu");
        pop_upBtn.onclick = function () {
            pop_up.classList.toggle("active");
        }


        //add team

        function getImage(chooseFile, imgPreview) {
            chooseFile.addEventListener("change", function () {
                getImgData();
                function getImgData() {
                    const files = chooseFile.files[0];
                 
                    if (files) {
                        const fileReader = new FileReader();
                        fileReader.readAsDataURL(files);
                        fileReader.addEventListener("load", function () {
                            imgPreview.style.display = "block";
                            imgPreview.innerHTML = '<img src="' + this.result + '" />';
                        });
                    }
                }
            });
        }

        const chooseFile1 = document.getElementById("choose-file1");
        const imgPreview1 = document.getElementById("img-preview1");
        getImage(chooseFile1, imgPreview1);

        const chooseFile2 = document.getElementById("choose-file2");
        const imgPreview2 = document.getElementById("img-preview2");
        getImage(chooseFile2, imgPreview2);

        const chooseFile3 = document.getElementById("choose-file3");
        const imgPreview3 = document.getElementById("img-preview3");
        getImage(chooseFile3, imgPreview3);

        var inform = document.querySelector(".inform");
        function CreateTeam() {
            var teamName = document.querySelector("#teamName");
            var age = document.querySelector("#age");
            var area = document.querySelector("#area");
            var gender = document.querySelector("#gender");
            var introduction = document.querySelector("#introduction");



            if (validateForm(teamName.value, age.value, area.value, gender.value, introduction.value) != false) {
                var form = new FormData();
                form.append("teamName", teamName.value);
                form.append("age", age.value);
                form.append("area", area.value);
                form.append("gender", gender.value);
                form.append("introduction", introduction.value);
                form.append("avatar", chooseFile1.files[0]);
                form.append("uniform1", chooseFile2.files[0]);
                form.append("uniform2", chooseFile3.files[0]);

             
                var xhr = new XMLHttpRequest();
                xhr.open("POST", 'https://localhost:44309/Team/AddTeam', true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        var res = xhr.response;
                        var resJson = JSON.parse(res);

                        if (resJson.Data.status == "OK") {
                            teamName.value = "";
                            age.value = "";
                            area.value = "";
                            gender.value = "";
                            introduction.value = "";
                            inform.innerText = "";

                            chooseFile1.value = "";
                            chooseFile2.value = ""; 
                            chooseFile3.value = "";

                            imgPreview1.innerHTML = "<div></div>";
                            imgPreview2.innerHTML = "<div></div>";
                            imgPreview3.innerHTML = "<div></div>";


                            var pop_up_infor = document.querySelector(".pop-up-infor")
                            pop_up_infor.classList.add("active");
                            setTimeout(function () {
                                pop_up_infor.classList.remove("active");
                            }, 3000)

                            
                        }
                        else {
                            inform.innerText = "Không thể thêm được đội bóng vui lòng xem lại form đã điền!";
                        }
                    }
                }
                xhr.send(form);
            }
        }



        function validateForm(teamName, age, area, gender, introduction) {
            var isValid = true;
           
            if (teamName == "" || age == "" || area == "" || gender == "" || introduction == "" ) {
                inform.innerText = "Vui lòng điền đầy đủ các thông tin ở các trường!";
                isValid = false;
            }
            return isValid
        }
    </script>
</body>
</html>
